html {
    font-size: 14px !important;
}


.blog-masthead {
    background-color: #b34848 !important;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6, .blog-post-title a {
    color:#b34848 !important;
}


Naslovi postova na hover treba da ostanu iste boje, samo će dobiti underline.


.blog-post-title a:hover {
    text-decoration: underline;

}


